.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 100px;
    font-weight: 100;
}

.header-input {
    width: 300px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background: papayawhip;
    border: none;
    border-radius: 3px;
}

.header-input ::placeholder {
    color: palevioletred;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.task-item {
    height: 40px;
    background: rgb(220, 240, 248);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-item__main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 20px;
    
}

.delete-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    width: 70px;
    height: 18px;
    background: crimson;
    border-radius: 3px;
    cursor: pointer;
}

/* .task-item__main-content {

} */