.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 100px;
    font-weight: 100;
}

.header-input {
    width: 300px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background: papayawhip;
    border: none;
    border-radius: 3px;
}

.header-input ::placeholder {
    color: palevioletred;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.task-item {
    /* height: 40px; */
    margin: 3px;
    background: rgb(220, 240, 248);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-item__main-container {
    display: contents;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.delete-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    width: 70px;
    height: 18px;
    background: crimson;
    border-radius: 3px;
    cursor: pointer;
}

.create-task-block {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}
    
.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-overlay);
    z-index: 1000;
    transition: 0.2s ease;
    opacity: 1;
}

.modal-overlay_hidden {
    top: 100%;
    opacity: 0;
}

.delete-modal {
    position: relative;
    top: 0;
    width: 50%;
    height: fit-content;
    padding: 15px 25px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 0.3s ease-in;
}

.delete-modal__question {
    font-size: 2rem;
    line-height: 2.5rem;
    color: cornflowerblue;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.delete-modal__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete-modal__button {
    cursor: pointer;
    font-size: 2rem;
    line-height: 2.5rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: none;
    color: cornflowerblue;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.delete-modal__button:hover {
    box-shadow: 0 0 0 1px var(--text-color);
}

.delete-modal__confirm-button {
    background-color: var(--delete-button-background);
    border: 1px solid var(--delete-button-background);
}

